*{
    margin:0px;
    padding: 0px;
}
.head{
    background-color: black;
    height:6em;
}
#logo{
    position: absolute;
    top: 4%;
    left: 40px;
    height: 50px;
}
body{
    background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);
    font-family: 'Roboto', sans-serif;
    color: white;
}
.main{
    flex: 3 1 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.1) -480%, rgb(0, 0, 0) 100%);
}
.box{
    display: block;
    border-radius: 6px;
    max-width: 734px;
    width: 100%;
    background-color: black;
    box-sizing: border-box;
}
h1{
    display: block;
    
    font-size: 3rem;
    font-weight: 700;
    margin: 80px 0px 48px;
    text-align: center;
    
    
}
.hr{  margin: 32px 100px;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    border-top: 1px solid rgb(94, 94, 94);}
hr{
    margin: 32px 100px;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    border-top: 1px solid rgb(94, 94, 94);
}
.input_box{
    width: 324px;
    margin: 0px auto;
    padding-bottom: 0px;
}
.input_label{
    padding-bottom: 16px;
}

.label{
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;    
    font-weight: 700;
    padding-block-end: 8px;
}
.hh{
    border: 0px;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    inline-size: 100%;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    border-radius: var(--border-radius-md,4px);
    padding: 11px 8px 9px 8px;
    min-block-size: var(--control-size-md,48px);
    background-color: #aaaaaa38;
    box-shadow: inset 0 0 0 1px var(--essential-subdued,#878787);
    color: white;
}
.pss{
    padding-bottom: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;    
    font-weight: 700;
    
    margin-top: 15px;
}
#passw{
position: relative;
display: block;
margin-bottom: 7px;font-family: 'Roboto', sans-serif;
font-size: 0.875rem;    
font-weight: 700;
}
.hidee{
    display: inline-block;
    position: absolute;
    margin-top: -38px;
    margin-left: 20em;

}
#me{
    margin-left: 54px;
    display: block;
    margin-block-start: -8px;
    font-family: default;
}
.butto{
    padding: 63px 0px 0px;
}
button{
    background-color: #1ed760;
    border-radius: 60px;    text-transform: none;
    letter-spacing: 0px;
    font-weight:bold;
    height: 47px;
    border: none;
}
.for{
    text-align: center;
    margin-top: 50px;
    color: white;
}
a{
    color:white;
}
#hr{
    margin: 32px 100px;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
    border-top: 1px solid rgb(41, 41, 41);
}
.last{
    text-align: center;

    width: 100%;
    background-color: black;
}
p{
    color:#878787;
}
.container{
    width: 14%;
    height: 0vh;
   background-color: #fff;
   display: flex;margin-top: 21px;
   align-items: center;
   justify-content: center;
}
.button{
   background-color: #d2d2d2;
   width: 47px;
   height: 25px;
   border-radius: 200px;
   cursor: pointer;
   position: relative;
   transition: 0.2s;
}
.button::before{
position: absolute;
content: '';
background-color:#878787;
height: 17px;
width: 17px;
border-radius: 200px;
margin: 4px;
translate: 0.2s;

}
input:checked +.button{
   background-color:#1ed760;
   
}
input:checked +.button::before{
   transform: translate(21px);
   
}
input{
   display: none;
}
